<a href="https://colab.research.google.com/github/moghanapriya-27/Datascience/blob/main/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
data =[1,3,3,4,5]
data_s=pd.Series(data)
print(data_s)
#data_s.values="numbers" this is wrong we cannot name the ndex and value by this
#data_s.index="index"

0    1
1    3
2    3
3    4
4    5
dtype: int64

In [ ]:
import pandas as pd
import numpy as np
data=[1,2,3,4]
a=print(pd.Series(data))
print(type(a))
#returns a series with integer and everey function returns a value and print returns "none" so it is described nonetype
b=pd.Series(data)
print(type(b))
d=[1,2,3,np.nan]
c=pd.Series(d)
print(c,type(c))

0    1
1    2
2    3
3    4
dtype: int64
<class 'NoneType'>
<class 'pandas.core.series.Series'>
0    1.0
1    2.0
2    3.0
3    NaN
dtype: float64 <class 'pandas.core.series.Series'>

In [ ]:
data_s.name = "Numbers"
data_s.index.name = "Index"
print(data_s)
s=data_s>25
print(s)
print(data_s.notnull())
print(data_s[data_s.isnull()])

Index
0    1
1    3
2    3
3    4
4    5
Name: Numbers, dtype: int64
Index
0    False
1    False
2    False
3    False
4    False
Name: Numbers, dtype: bool
Index
0    True
1    True
2    True
3    True
4    True
Name: Numbers, dtype: bool
Series([], Name: Numbers, dtype: int64)

In [ ]:
import pandas as pd
import numpy as np
a=["x","y","z"]
data=[1,3,7]
series=pd.Series(data,index=a)
print(series)
s=series*2
print(s)
print(np.sqrt(s))

x    1
y    3
z    7
dtype: int64
x     2
y     6
z    14
dtype: int64
x    1.414214
y    2.449490
z    3.741657
dtype: float64

In [ ]:
import pandas as pd


fruits = pd.Series([10, 20, 15], index=['apple', 'banana', 'cherry'])
print("Original Series:\n", fruits)


new_index = ['banana', 'apple', 'cherry', 'mango']
reindexed_fruits = fruits.reindex(new_index)
print("\nReindexed Series:\n", reindexed_fruits)

Original Series:
 apple     10
banana    20
cherry    15
dtype: int64

Reindexed Series:
 banana    20.0
apple     10.0
cherry    15.0
mango      NaN
dtype: float64

In [ ]:

import pandas as pd
# Price of fruits in two different stores
store1_prices = pd.Series({'apple': 30, 'banana': 25, 'cherry': 40})
store2_prices = pd.Series({'banana': 22, 'cherry': 45, 'apple': 35})

# Calculate average prices
average_prices = (store1_prices + store2_prices) / 2
print("\nAverage Prices:\n", average_prices)

Average Prices:
 apple     32.5
banana    23.5
cherry    42.5
dtype: float64

In [ ]:
import pandas as pd
# A series with missing values after reindex
colors = pd.Series({'red': 10, 'blue': 20})
reindexed_colors = colors.reindex(['red', 'blue', 'green'])
print("\nBefore Filling Missing:\n", reindexed_colors)

# Fill missing with default value
filled_colors = reindexed_colors.fillna(0)
print("\nAfter Filling Missing:\n", filled_colors)

Before Filling Missing:
 red      10.0
blue     20.0
green     NaN
dtype: float64

After Filling Missing:
 red      10.0
blue     20.0
green     0.0
dtype: float64

In [ ]:
import pandas as pd
data={"telengana":[90,98,97],"andhra":[29,78,56],"tamilnadu":[1,2,3]}
dt=pd.DataFrame(data)
print(dt)
dt["tele"]=["","",""]
print(dt)

   telengana  andhra  tamilnadu
0         90      29          1
1         98      78          2
2         97      56          3
   telengana  andhra  tamilnadu tele
0         90      29          1
1         98      78          2
2         97      56          3

In [ ]:
# Add a new column 'karnataka' to the DataFrame dt
dt['karnataka'] = [10, 20, 30]
print(dt)

   telengana  andhra  tamilnadu  karnataka
0         90      29          1         10
1         98      78          2         20
2         97      56          3         30

In [ ]:
#dataframe from list of list
import pandas as pd
import numpy as np
data=[["jaguar",1.70],
      ["bmw",2.89],
      ["audi",2.7],
      ["ferrari",11.94],
      ["benz",4.5]]
column_n=["suvs","onroadprice in cr"]
data_n=pd.DataFrame(data,columns=column_n)
print(data_n)
#creation of dictionary of list
d={"bikes":["hyabusa","kwasaki","ktm","herohonda","jupiter"],
   "price in lakh":[16,1.22,2.06,0.5,0.7]}
d_f=pd.DataFrame(d)
print(d_f)
#creation of new column
d_f["specification"]=" "
print(d_f)
d_f["specification"]= ["superbike", "ninja", "stunt", "commuter", "scooter"]
print(d_f)
S=pd.Series( ["superbike", "ninja", "stunt",  "scooter"],index=[0,2,1,4])
d_f["specification"]=S
print(d_f)

      suvs  onroadprice in cr
0   jaguar               1.70
1      bmw               2.89
2     audi               2.70
3  ferrari              11.94
4     benz               4.50
       bikes  price in lakh
0    hyabusa          16.00
1    kwasaki           1.22
2        ktm           2.06
3  herohonda           0.50
4    jupiter           0.70
       bikes  price in lakh specification
0    hyabusa          16.00
1    kwasaki           1.22
2        ktm           2.06
3  herohonda           0.50
4    jupiter           0.70
       bikes  price in lakh specification
0    hyabusa          16.00     superbike
1    kwasaki           1.22         ninja
2        ktm           2.06         stunt
3  herohonda           0.50      commuter
4    jupiter           0.70       scooter
       bikes  price in lakh specification
0    hyabusa          16.00     superbike
1    kwasaki           1.22         stunt
2        ktm           2.06         ninja
3  herohonda           0.50           NaN
4    jupiter           0.70       scooter

In [ ]:
import pandas as pd
import numpy as np
#dict of dicts
a={
    "greetings":{100:"hello",101:"vanakkam",102:"namaste"},"wish":{100:"good",101:"happy",102:"joy"}
}
c=pd.DataFrame(a)
print(c)
c=pd.DataFrame(a,index=[100,101,103])
print(c,type(c))
print(c.T)

    greetings   wish
100     hello   good
101  vanakkam  happy
102   namaste    joy
    greetings   wish
100     hello   good
101  vanakkam  happy
103       NaN    NaN <class 'pandas.core.frame.DataFrame'>
             100       101  103
greetings  hello  vanakkam  NaN
wish        good     happy  NaN

In [ ]:
moghanapriya R
231801102,
Ai and Ds